doctype html
head
  title 3D printer station
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
body
  div.-page-wrapper
    h1 3d printer station
    h2 A software for 3d printer slicing and management.
